*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
#header + .content {
    padding-top: 100px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#footer {
    text-align: center;
    background-color: #333;
    color: white;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

ol{
    margin-left: auto;
    margin-right: auto;
}

hr {
    display: block; 
    margin: auto; 
    width: 80%;
    height:2px;
    border-width:0;
    color:gray;
    background-color:black
}

.content {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-element-container {
    float: left;
    display: grid;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1.5vw;
}

#navbar-title-container{
    width: 30%;
    /* setting a height would fix this, but it must be auto */
    line-height: 19px;
}

#navbar-title {
    font-family: Helvetica, sans-serif;
    font-size: 2vw;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #A865B5; /*sunset purple :) */
    color: white;
}

.search-container {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}